.hero{
    overflow: hidden;
    position: relative;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        text-align: center;

        .textContainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            // background-image: "https://imgs.search.brave.com/Y_H6up8Cza0wSZDqR3QF0DlU8CbpxdTz8gethIXUPZg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3Ivd2hpdGUtZ2xv/d2luZy1saWdodC1i/dXJzdC1leHBsb3Np/b24tdHJhbnNwYXJl/bnQtYmFja2dyb3Vu/ZC1icmlnaHQtc3Rh/ci1mbGFyZS1leHBs/b2RlXzc1NTIyOC01/NzYuanBnP3NpemU9/NjI2JmV4dD1qcGc";

            h1{
                font-size: 50px;
                color: rgb(0, 0, 0);
            }

            .buttons{
                .button{
                    padding: 20px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: transparent;
                    color: black;
                    margin-right: 20px;
                    font-weight: 600;
                    width: fit-content;
                }
                padding-top: 30px ;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
            }
        }
    }

    .slidingText{
        position: absolute;
        font-size: 20vh;
        bottom: 0px;
        white-space: nowrap;
        color:#4d097566;
        width: 50%;
        font-weight: bold;
        z-index: 2;
    }
}