.About{
    // overflow: hidden;
    position: relative;
    color: black;
    .projects{
        .main{
            padding: 30px 20px 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            #sec{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
                height: 100vh;
                text-align: center;
            }
            .about-content{
                height: 80vh;
            }
        }
    }
}