.Latest-Work{
    // overflow: hidden;
    position: relative;
    .projects{
        .main{
            padding: 30px 20px 0px 20px;
            display: flex;
            .vertical-line{
                border-left: 2px solid #ffffff;
                height: 100px;
                margin: 0 10px;
            }
            .section{
                flex: 1;
                margin: 30px
            }
        }
    }
}