.resume{
    height:100%;
    width:90%;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    .category{
        margin-right: 5%;
        margin-left: 5%;
        padding-bottom: 1%;
        padding-top: 5%;

        .header{
            border-bottom: 1px rgb(255, 255, 255) solid;
            margin-bottom: 1%;
        }
    }
}