.resume{
    height:100%;
    width:100%;
    margin-bottom: 10%;

    .category{
        margin-right: 5%;
        margin-left: 5%;
        padding-bottom: 1%;
        padding-top: 5%;

        .header{
            padding-bottom: 1%;
        }
    }
}