.resume{
    height:100%;
    width:90%;
    margin: 5%;
    border:2px black solid;
    border-radius: 20px;

    .category{
        margin-right: 5%;
        margin-left: 5%;
        padding-bottom: 1%;
        padding-top: 5%;

        .header{
            border-bottom: 1px black solid;
            margin-bottom: 1%;
        }
    }
}