.navbar {
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: black;
    height: 100%;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 1.5%;
        height: 100%;
        span {
            font-weight: bold;
            font-size: 5vh;
            flex: 1;
        }

        .social {
            display: flex;
            gap: 20px;
            width: 100px;

            img {
                width: 20px;
                border: 1px solid white;
                border-radius: 5px;
                background-color: white;
            }
        }
    }
    .lower{
        padding: auto;
        .list{
            background-color: rgb(29, 29, 29);
            padding: 20px;
            padding-left: 10%;
            padding-right: 10%;
            font-size: 20px;
        }
    }
}
