.card{
    width: 300px;
    display: flex;
    .image{
        .img{
            height: 160px;
            width: 160px;
        }
        .name{
            height: 40px;
        }
    }
    .text{
        height: 200px;
    }
}