.card:hover {
    color:rgb(255, 255, 255);
    background-color:#000000;
}

.card{
    border-radius: 10px;
    background-color:#ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 2%;
    justify-content: center;
    height: 200px;
    .image{
        .imge{
            align-items: center;
            .img{
                border-radius: 5px;
                max-height: 50%;
                max-width: 50%;
            }
        }
        .textBox{
            .name{
                text-align: center;
            }
        }
    }
}