.sidebar {
   height: auto;
   background-color: rgba(193, 193, 193, 0.145);
  
    .toggle-btn {
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 10vh;
      background-color: black;
      .close{
        border-radius: 50%;
        background-color: white;
        height: 50px;
        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .open{
        border-radius: 50%;
        background-color: white;
        height: 50px;
        width: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .options{

    }
  }
  