*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
.app-container{
    min-height: 100%;
    background-color: #ffffff;
}

