*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
.app-container{
    min-height: 100%;
}

.main{
    background: linear-gradient(to left, #150135, #000000, #04013e);
}

